<h4>Featured</h4>

<div class="col-sm-3">
	<div class="products">
		<div class="image">
			<img src="https://demo.opencart.com/image/cache/catalog/demo/macbook_1-200x200.jpg" class="img-responsive">
		</div>
		<div class="product-info">
			<h5><a href="#">MacBook</a></h5>
			<p>Intel Core 2 Duo processor Powered by an Intel Core 2 Duo processor at speeds up to 2.1..</p>
			<p class="price">
				$602.00
				<span class="tax">Ex Tax: $500.00</span>
			</p>
		</div>

		<div class="button-group">
		  <button type="button"><i class="fa fa-shopping-cart"></i> Add to cart</button>
		  <button type="button"><i class="fa fa-heart"></i></button>
		  <button type="button"><i class="fa fa-exchange"></i></button>
		</div>
	</div>
</div>

<div class="col-sm-3">
	<div class="products">
		<div class="image">
			<img src="https://demo.opencart.com/image/cache/catalog/demo/iphone_1-200x200.jpg" class="img-responsive">
		</div>

		<div class="product-info">
			<h5><a href="#">iPhone</a></h5>
			<p>iPhone is a revolutionary new mobile phone that allows you to make a call by simply tapping a nam..</p>
			<p class="price">
				$123.20
				<span class="tax">Ex Tax: $101.00</span>
			</p>
		</div>

		<div class="button-group">
		  <button type="button"><i class="fa fa-shopping-cart"></i> Add to cart</button>
		  <button type="button"><i class="fa fa-heart"></i></button>
		  <button type="button"><i class="fa fa-exchange"></i></button>
		</div>
	</div>
</div>

<div class="col-sm-3">
	<div class="products">
		<div class="image">
			<img src="https://demo.opencart.com/image/cache/catalog/demo/apple_cinema_30-200x200.jpg" class="img-responsive">
		</div>

		<div class="product-info">
			<h5><a href="#">Apple Cinema 30"</a></h5>
			<p>The 30-inch Apple Cinema HD Display delivers an amazing 2560 x 1600 pixel resolution. Designed sp..</p>
			<p class="price">
				$110.00 <s>$122.00</s>
				<span class="tax">Ex Tax: $90.00</span>
			</p>
		</div>

		<div class="button-group">
		  <button type="button"><i class="fa fa-shopping-cart"></i> Add to cart</button>
		  <button type="button"><i class="fa fa-heart"></i></button>
		  <button type="button"><i class="fa fa-exchange"></i></button>
		</div>
	</div>
</div>

<div class="col-sm-3">
	<div class="products">
		<div class="image">
			<img src="https://demo.opencart.com/image/cache/catalog/demo/canon_eos_5d_1-200x200.jpg" class="img-responsive">
		</div>

		<div class="product-info">
			<h5><a href="#">Canon EOS 5D</a></h5>
			<p>Canon's press material for the EOS 5D states that it 'defines (a) new D-SLR category', while we'r..</p>
			<p class="price">
				$98.00 <s>$122.00</s>
				<span class="tax">Ex Tax: $80.00</span>
			</p>
		</div>

		<div class="button-group">
		  <button type="button"><i class="fa fa-shopping-cart"></i> Add to cart</button>
		  <button type="button"><i class="fa fa-heart"></i></button>
		  <button type="button"><i class="fa fa-exchange"></i></button>
		</div>
	</div>
</div>

<div class="clearfix"></div>